* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

header {
    height: 100vh;
    width: 100%;
}

.fun-bg {
    background:
        linear-gradient(
            rgba(242, 246, 246, .8) 100%,
            rgba(242, 246, 246, .8) 100%),
        url("resources/pexels-minan1398-1353938.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

nav {
    padding: 15px 30px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999999999;
}

a {
    text-decoration: none;
}

.menu a {
    padding: 0 5px;
    color: #000;
    font-weight: 500;
}

.menu a:hover {
    color: teal;
}

.skip-btn {
    position: absolute;
    top: -60px;
    color: white;
    background-color: teal;
    padding: 5px 10px;
    border-radius: 20px;
}

.skip-btn:focus {
    top: 60px;
}

.btn-group {
    margin: 20px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.arrow-btn {
    position: relative;
    border-radius: 24px;
    font-size: .875rem;
    border: 1px solid teal;
    height: 40px;
    min-width: 100px;
    padding: 0 43px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teal-btn,
.white-btn .btn-animate {
    background-color: teal;
}

.teal-btn .text, .white-btn .arrow {
    color: #fff;
}

.white-btn .text, .teal-btn .arrow {
    color: teal;
}

.white-btn,
.teal-btn .btn-animate {
    background-color: white;
}

.text {
    z-index: 99;
    transition: 150ms ease;
}

.btn-animate {
    position: absolute;
    right: 2px;
    height: 35px;
    width: 35px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 150ms ease;
}

.arrow-btn:hover .btn-animate {
    width: calc(100% - 4px);
    right: 0;
    margin: 0 2px;
    border-radius: 24px;
}

.arrow-btn:hover .animate-teal {
    color: teal;
}

.arrow-btn:hover .animate-white {
    color: #fff;
}


.arrow {
    position: absolute;
    right: 14px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 750px;
    height: inherit;
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 3.25rem;
}

header h2 {
    font-weight: 400;
    margin: 20px 0;
}

/* --------------- Main Styling --------------- */

main {
    margin-top: 10px;
    margin-bottom: 32px;
}



.intro, .info-tidbit, .services-section, 
.testimonial-content, .faqs-section, .cta {
    padding-left: 10px;
    padding-right: 10px;
}

.intro, .services-content, .testimonial-content,
.faqs-section, .cta {
    max-width: 1200px;
    margin: 0 auto;
}


.bubble {
    display: inline-block;
    padding: 5px 10px;
    background-color: teal;
    color: #fff;
    border-radius: 24px;
    font-size: .625rem;
}

/* -------- Intro/Grid Styling -------- */

.grid {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 450px;
    margin-top: 24px;
    margin-bottom: 10px;
}

.block {
    background-color: #457e6c;
    border-radius: 10px;
    width: 20%;
}

.sidebar {
    width: 30%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.row {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.small {
    width: 30%;
}

.long {
    width: 70%;
}


/* -------- Info Tidbit Styling -------- */


.info-tidbit {
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: top;
}



/* -------- Services Styling -------- */

.services-section {
    margin-top: 10px;
    background:
    linear-gradient(
        #fff 80%,
        #457e6c 20%);
    width: 100%;
}

.services-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#serviceSlider {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
    height: 400px;
}

.service-card {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100%;
    width: 300px;
    padding: 15px;
    color: white;
    background-color: rgb(242, 246, 246);
    border-radius: 10px;
    background-image: url("resources/pexels-sohi-807598.jpg");
    transition: 200ms ease-out;
}

.service-card:hover {
    background:
        linear-gradient(
            #00000060 100%,
            #00000060 100%),
        url("resources/pexels-sohi-807598.jpg");
}

.service-info {
    transition: 200ms ease-out;
}

.service-card:hover .service-info {
    transform: translateY(-325px);
}

.hidden-button {
    display: none;
    color: white;
    transition: 200ms ease-out;
}

.service-card:hover .hidden-button {
    display: block;
}

/* -------- Testimonial Styling -------- */

.testimonial-section {
    padding-top: 72px;
    padding-bottom: 72px;
    background-color: #457e6c;
}

.testimonial-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}






/* -------- FAQs Styling -------- */








/* -------- CTA Styling -------- */

.cta {
    margin-top: 64px;
}

.cta-background {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding: 12px;
    border-radius: 24px;
    background:
        linear-gradient(
            rgba(7, 85, 62, 0.75) 100%,
            rgba(7, 85, 62, 0.75) 100%),
        url("resources/pexels-rethaferguson-3060703.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

.cta-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 1px solid #ffffff75;
    border-radius: 24px;
    width: 100%;
    height: 100%;
    padding: 64px 24px;
}

.cta p {
    margin: 24px 0;
}






/* --------------- Footer Styling --------------- */


footer {
    background-color: rgb(242, 246, 246);
    padding-top: 30px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 900px;
    padding: 0 2%;
    margin: 0 auto;
}

.footer-links h4 {
    margin-bottom: 8px;
}

.footer-links {
    list-style-type: none;
}

.footer-links a {
    color: black;
}

.footer-logo {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    opacity: 50%;
}

.footer-logo img {
    width: 100%;
}